PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/self_storage_db?schema=public"
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d

# SePay Payment Gateway Configuration
SEPAY_API_KEY=your_sepay_api_key_here
SEPAY_ACCOUNT_NUMBER=0900000000
SEPAY_BANK_CODE=MBBank
SEPAY_ACCOUNT_NAME=SELF STORAGE SYSTEM

